/*----- font family -------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    
    
    
}

/*-------------------
 header part style
 ------------------ */

 .banner{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 677px;
     padding: 0 30px;
     background-color: #2D25A0;
     
     
 }

 

 .banner-photo img{
    width: 556px;
    height: 438px;
    margin-left: auto;
    margin-right: auto;
     
 }

 .banner-title{
    
    color: #FFFFFF;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    
    
    
 }



 .banner-btn, .watch-btn{
     width: 168px;
     height: 44px;
     background-color: #E02C6D;
     border: none;
     color: #FFFFFF;
     padding: 10px 24px;
     font-size: 15px;
     text-decoration: none;   
 }

 .banner-btn>.fa-arrow-right{
     margin-left: 10px;
     
 }
  

 /*-----------------------
  players part start 
  -----------------------*/
   
  


  .players{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      height: 1896px;
      width: 1050px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 80px;
  }

  .player{
      background-color: #FFFFFF;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
      padding: 15px;
  }
 
  .player img{
      width: 300px;
      height: 256px;
  }


  /*------------------------
   highlight part start
   ------------------------ */

   .highlight{
       width: 1050px;
       height: 500px;
       margin-top: 200px;
       margin-left: auto;
       margin-right: auto;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 20px;
   }

   .highlight-photo img{
       width: 560px;
       height: 400px;
       margin-left: 50px;
   }


   .highlight-title{
       font-size: 35px;
       color: navy;
       line-height: 50px;
   }

   .logo{
       width: 483.87px;
       height: 110px;
    }

   /*------------------
    footer part start
    ------------------- */

    footer{
        width: 100%;
        height: 200px;
        margin-top: 80px;
       
        
        
    }

    .logo img{
        width: 483px;
        height: 110px;
        
    }


    .logo-part{
        display: flex;
        justify-content: center;
        
        
    }


    .icon{
        font-size: 20px;
        color: gray;
        padding: 10px;
        background-color: lightgray;
        border-radius: 50%;
        margin-right: 15px;
    }


    .social-icon{
         
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        

    }


    .copyright-title{
        display: flex;
        justify-content: center;
    }

   

    /*----------------------
     media queries and responsive for mobile
     ---------------------- */
     @media only screen and (max-width: 688px){
        
        .banner{
            display: flex;
            
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100%; 
            height: 100%;
            background-color: #2D25A0;
            
            padding: 30px;
            
        }
        
       
 
        .banner-title{
            width: 278px;
            height: 138px; 
            line-height: 50px;
            font-size: 40px;
            margin-left: auto;
            margin-right: auto;
            
            
        } 

       
        
        


        .banner-photo img{
            width: 320px;
            height: 259px; 
            margin-top: 100px;
            
            margin-right: 25px;
            
            

           
            
        }


        .players{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
           
            
        }
        
        .player{
            width: 300px;
            height: 426px;
            margin-left: auto;
            margin-right: auto;

        }


        .highlight{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 100%;
            margin-top: 20px;
            

        }
        
        .highlight-text{
            width: 320px;
            height: 299px;
            
        }

        .highlight-title{
            font-size: 25px;
        }


        .highlight-photo img{
            width: 320px;
            height: 248px;
            margin-top: 300px;
            margin-left: auto;
            
            
            
            
        }

        .logo img{
            width: 100%;
            height: 100%;
        }


        .banner-photo:hover{
            transform: rotate(360deg) scale(0.7);
            transition: transform 1s ease-in-out;
        }
    }


    /*---------------- responsive for tablet and laptop---------------- */

    @media screen and (min-width: 689px) and (max-width: 1280px){
        .banner{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 500px;
            padding: 100px;
            justify-content: space-between;
            align-items: center;
        }


        .banner-title{
            font-size: 40px;
            line-height: 50px;
        }


        .banner-photo:hover{
            transform: rotateY(360deg) scale(1.3);
            transition: transform 1s ease-in-out;
        }


       
    }